*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    padding:1em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.125rem;
    background: url('./parabola_bg.jpg') no-repeat center;
    background-size: cover;
    color:#ffffff;
}

h1{
    margin-top:0.5em;
    text-align:center;
    font-family: 'Source Code Pro', monospace;
    font-size:3rem;
}

.shape-title, .value, #eq{
    color:rgb(191, 255, 161);
}
 

#equation{
    padding: 0.5em 1em;
    font-size:1.4rem;
    width:20em;
    background-color:rgb(214, 214, 214);
    border-radius: 10px;
    outline:none;
}

#equation:hover, #equation:focus-within{
    transform: translateY(-5px);
    transition: 0.3s;
    box-shadow: 0px 5px 3px #504646;
}

button{
    font-size:1.2rem;
    padding:0.3em 1em;
    border:none;
    outline:none;
    border-radius: 7px;
    cursor:pointer;
    background-color:rgb(191, 255, 161);
    color:#242424;
    -webkit-tap-highlight-color: transparent;
}

.button-div > button:hover{
    background-color:rgb(111, 180, 80);
}

.title{
    font-family: 'Source Code Pro', monospace;
    font-size: 1.3rem;
    text-align: center;
}

.value{
    font-size:1.3rem;
}

.output-div, .input-div{
    padding:1em 0;
}


.input-div{
    margin: 6em 0;
    flex-direction:column;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:1em;
}

.output-div{
    margin:auto;
    width:80%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:1em;
}

.output{
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-gap:0.3em;
    align-items:center;
    justify-items: center;
}

.endpoints-div{
    grid-area: 3/2/4/3;
}

.button-div{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
}


.graph-div{
    padding:0.5em;
    position:absolute;
    top:50%;
    left:50%;
    transition: ease 0.5s;
    transform:translate(-50%, -400%);
    background-color:rgb(46, 46, 46);
}

#graph-cancel{
    background-color:red;
    color:white;
    padding:0.5em 1em;
    margin:1em auto;
    position:absolute;
    right: 50%;
    transform:translateX(50%);
}

#graph-cancel:hover{
    background-color:rgb(126, 6, 6);
}

#calculator{
    width:600px;
    height:400px;
}

@media (max-width:1230px){
    .output-div{
        grid-template-columns: 1fr 1fr;
    }

    .title{
        font-size:1.25rem;
    }

    .value{
        font-size: 1.125rem;
    }

    #equation{
        font-size:1.3rem;
    }
}

@media (max-width: 900px){
    .output-div{
        display:flex;
        flex-direction:column;
    }

    h1{
        font-size:2.5rem;
    }

    #calculator{
        width:500px;
        height:300px;
    }
}

@media (max-width:614px){
    .output{
        font-size:1.125rem;
    }

    #equation{
        width: 16em;
        font-size:1.2rem;
    }

    button{
        font-family: inherit;
        font-size:1.15rem;
        width:8em;
    }

    #calculator{
        width:350px;
        height:500px;
    }
}
