body{
    background: linear-gradient(0deg, rgba(243, 243, 243, 0.747), rgba(248, 248, 248, 0.699)) ,url('../assets/parabola_bg.jpg') no-repeat left;
    background-size: cover;
    background-position: bottom;
}

