
main{
    height:100vh;
    padding:0 1em;
    background: linear-gradient(to right, rgb(202, 255, 255, 0.99), rgb(255, 255, 255, 0.6), rgb(202, 255, 255)) ,url('../assets/home_bg.jpg') no-repeat left;
    background-size: cover;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    gap:4em;
}

.container{
    margin-bottom: 1em;
    padding:1em;
}


h1{
    font-weight: 1400;
    font-size:3rem;
}

h2{
    font-size:2.1rem;
}

h1, #desc{
    color:var(--dark-font);
}

#desc{
    text-align: center;
}


.types-container h2, .calc h2{
    text-align:left;
    color: var(--dark-font);
}

.types{
    margin:1em;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    gap:3em;
}

.shape{
    padding:0.5em;
    width:13em;
    height:13em;
    font-size:1.4rem;
    color: var(--light-font);
    background-color:var(--dark-bg);
    cursor: pointer;

    display:flex;
    flex-direction:column;
    gap:1em;
}

.shape img{
    width:12em;
    height:12em;
    object-fit: fill;
}

.calc{
    margin-bottom: 2em;
}

.choose-type-div{
    padding:1em;
    margin: 1em 0 0 0;
    display:flex;
    gap:0.3em;
    align-items:center;
    cursor: pointer;
}

.choose-type-div > label{
    font-size:1rem;
}

.choose-type-div select{
    padding:0.3em;
    border:none;
    background-color: var(--dark-bg);
    color:var(--light-font);
}

.input-div{
    padding:1em;
    width:100%;
    display:flex;
    flex-direction:column;
    gap:1em;
    justify-content: center;
    align-items:center;
}

#input-eq{
    padding: 0.5em 1em;
    width:100%;
    max-width:35em;
    font-size: 1.1rem;
    border: 2px solid var(--dark-bg);
    outline:none;
}

#input-eq:hover, #input-eq:focus-within{
    box-shadow: 1px 3px 5px rgb(104, 98, 98);
    transform: translateY(-0.3em);
    transition: 0.3s all ease;
}

.button-div{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:0.3em;
    justify-items:center;
    align-items: center;
}

button{
    padding:0.5em;
    width:7em;
    font-size:1.02rem;
    font-family: inherit;
    background-color: var(--dark-bg);
    color: var(--light-font);
    cursor: pointer;    
}

button:hover{
    background-color:rgb(53, 53, 53);
}

#convert{
    grid-column: 1/3;
}


.output-div{
    margin-bottom:3em;
    width:80%;
    margin:auto;
    padding:1em;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:0.7em;
}

#legend{
    font-size:1.4rem;
    margin-bottom: 0.2em;
    font-weight: bold;
}

.parts{
    width:100%;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1em;
    align-items: center;
}

.title{
    font-size:1.12rem;
    font-weight: 500;
}

.value{
    font-size: 1rem;
    justify-self: center;
    text-align:center;
}


.graph-div{
    padding:0.5em;
    position:fixed;
    top:50%;
    left:50%;
    transition: ease 0.5s;
    transform:translate(-50%, -400%);
    background-color:rgb(46, 46, 46);
}

#graph-cancel{
    background-color:red;
    color:white;
    padding:0.5em 1em;
    margin:1em auto;
    position:absolute;
    right: 50%;
    transform:translateX(50%);
}

#graph-cancel:hover{
    background-color:rgb(126, 6, 6);
}

#calculator{
    width:275px;
    height:400px;
}


@media (min-width:800px){
    h1{
        font-size: 4rem;
    }

    #desc{
        width: 72ch;
    }

    .button-div{
        grid-template-columns: 1fr 1fr 1fr;
    }

    #convert{
        grid-area: 1/2/2/3;
    }

    .output-div{
        width:100%;
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-gap:0.5em;
        align-items: center;
        justify-items: center;
    }

    #legend{
        grid-column: 1/3;
    }

    .parts{
        justify-items: center;
        width:60%;
    }

    .title, .value{
        text-align: center;
    }

    .types{
        display:grid;
        grid-template-columns:1fr 1fr;
        gap:1.5em;
        align-items:center;
        justify-items: center;
    }
}

